.actor-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: #000;

}


.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
width:100%;
Height: 600px;
background-size: cover;
background-position: 50% 50%;
border-radius: 5px;
cursor:pointer;
transition: 1s;
display:flex;
flex-direction:column;
justify-content: flex-end;
padding: 0 0 20px 10px;
color:white;
font-size: 17px;
font-family: 'kdam Thmor Pro', sans-serif;
}

.card:hover {
    transform: scale(1.02);
}

.banner-1 {background-image: url('https://t.ctcdn.com.br/Uz9Gs6PWbI_wcuFtcU7P8Pml6h0=/512x288/smart/filters:format(webp)/i586811.png')}

.banner-2 {background-image: url('https://akns-images.eonline.com/eol_images/Entire_Site/2022122/rs_634x1024-220222122542-634-Zoe_Kravitz-the_batman-catwoman-gj.jpg?fit=around%7C634:1024&output-quality=90&crop=634:1024;center,top')}

.banner-3 {background-image: url('https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/07c53b1e-7aee-477d-8d45-c16c080faa75/new-featurette-for-the-batman-offers-additional-details-on-jeffrey-wrights-jim-gordon.jpg')}
